*{
  margin:0;
  padding: 0;
  text-decoration: none;
  line-height: 16px;
}
h1{
  padding: 20px 20px;
  font-size: 2em;
  line-height: 1em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #296DC4;
  display: flex;
  align-items: center;
  height: 30vh;
  justify-content: center;
  border: 1px white;
}
strong{
  padding: 20px 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #296DC4;
  display: flex;
  align-items: center;
  height: 70vh;
  justify-content: center;
  font-size: 25px;
}

ul {
  list-style-type: none;
}
li{
  padding: 10px 0;
}
.container{
  display: flex;  
}
aside{
  width: 15%;
  padding:40px;
}

.loginbutton {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #eeeeee;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #cccccc;
}

img {
  height: 120px;
  width: 120px;
}
.userinfo {
  display: inline-flex;
  align-items: center;
}

main {
  margin: 30px 30px;
  padding: 20px 10px;
  width: 70%;
  padding: 10px;  
  background: #ffffff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.19), 0 1px 1px rgba(0,0,0,0.23);;
  border-radius: 10px;
  height: 85vh;
}

.adminViewHead {
  display: flex;
  margin: auto;
  padding: 10px;
  justify-content: space-between;
}

.adminViewHead .adminAvatar {
  border-radius: 50%;
}

.monthName {
  display: flex;
  justify-content: space-around;
  border-bottom-style: solid;
}

.modulebtns {
  display: flex;
  justify-content: space-between;
}

.weekNum {
  margin: 0 2.2%;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.button {
  height: 100%;
  text-decoration: none;
  color: inherit;
}

.dropDown {
  width: 100%;
}
.classrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addModule {
  margin: auto;
  width: 45%;
  padding: 10px;
  background-color: #f1f1f1;
  justify-content: space-between;
}

.editClass {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  width: 20%;
  padding: 10px;
  background-color: #f1f1f1;
}

.addClass {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  width: 65%;
  padding: 10px;
  background-color: #f1f1f1;
}

.monthComp {
  padding: 0.75em;
}

.addclassbuttonwrap {
  padding: 6px;
}

.submitclass {
  float: right;
  margin-left: auto;
  padding: 6px;
}

.deleteclass {
  float: left;
  margin-right: auto;
  padding: 6px;
}

.notValid {
  border: 5px solid red;
}

.createModule {
  height: 20%;
}

.classrowleft {
  align-items: center;
  display: inline-flex;
  justify-content: space-evenly;
}

.editbutton {
  margin-left: 2px;
  height: 35%;
}

.editprofile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  width: 20%;
  padding: 10px;
  background-color: #f1f1f1;
}

.namebar {
  display: flex;
  background-color: #f1f1f1;
  justify-content: space-evenly;
}

.namerole p {
  margin-top: 0;
}
.namerole h4 {
  margin-bottom: 0;
}

.useravatar {
  border-radius: 50%;
}

.Selectable
  .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
  background-color: #f0f8ff !important;
  color: #4a90e2;
}
.Selectable .DayPicker-Day {
  border-radius: 0 !important;
}
.Selectable .DayPicker-Day--start {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}
.Selectable .DayPicker-Day--end {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}

.DayPicker-Day:focus {
  outline: none;
}

.DayPicker-wrapper:focus {
  outline: none;
}

.infoPara {
  text-align: center;
}

.mentorContainer {
  padding: 1%;
  display: flex;
  flex-direction: column;
}

.mentorRow {
  display: flex;
  border: 1px solid #d2d2d2;
  padding: 0.75em;
  margin-bottom: 0.25em;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.classNameBtn {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.mentorRowBtn {
  margin-top: 0;
  width: 100%;
}
html{
  background: #F9F9FB;
}